<div id="<%= dom_id has_job %>">
  <p>
    <strong>Employee Name:</strong>
    <%= has_job.start_node.first_name %>
  </p>
  <p>
    <strong>Employee Role:</strong>
    <%= has_job.employee_role %>
  </p>
  <p>
    <strong>Company Name:</strong>
    <%= has_job.end_node.company_name %>
  </p>
</div>
