<h1>Editing has job</h1>

<!-- # has_job_path(@has_job)  PATCH /has_jobs/:id(.:format)  has_jobs#update -->
<%= render "form", has_job: @has_job, form_url: has_job_path(@has_job) %>

<br>

<div>
  <%= link_to "Show this has job", has_job_path(@has_job) %> |
  <%= link_to "Back to has jobs", has_jobs_path %>
</div
